PORT=5000
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-SUPABASE-PROJECT].supabase.co:5432/postgres
FRONTEND_URL=http://localhost:3000

VAPID_PUBLIC_KEY=BGh887XqoLQB0nj26t4O9TtETHgYw21mdculaU9eZPB6LcD7Zp0CMFz1WZJ4iKEXLXOIy9o3ElOhLaS7zFUPJP8
VAPID_PRIVATE_KEY=J8BB9fa_XfPqrt8d1sBwAfOKgbeqkSt1iMYA_lMEsVA
